<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="table">
        <table>
            <tr>
                <td>Observed Altitude . . . . . . . . .</td>
                <td>40</td>
                <td>°</td>
                <td>06</td>
                <td>′</td>
                <td></td>
            </tr>
            <tr class="gap-below">
                <td>Par., dip, and semidiam. . . add</td>
                <td class="underline"></td>
                <td class="underline"></td>
                <td class="underline">12</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gap-above">
                <td></td>
                <td>40</td>
                <td></td>
                <td>18</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gap-below">
                <td>Refraction . . . . . . . . . subtract</td>
                <td class="underline"></td>
                <td class="underline"></td>
                <td class="underline">1</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gap-above">
                <td>True altitude . . . . . . . . . . . . . .</td>
                <td>40</td>
                <td></td>
                <td>17</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gap-below">
                <td>Subtract from . . . . . . . . . . . . .</td>
                <td class="underline">90</td>
                <td class="underline"></td>
                <td class="underline">00</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gap-above">
                <td>True zenith distance . . . . . . . .</td>
                <td>49</td>
                <td></td>
                <td>43</td>
                <td></td>
                <td>N.</td>
            </tr>
            <tr class="gap-below">
                <td>Sun's declination, table IV . . .</td>
                <td class="underline">23</td>
                <td class="underline"></td>
                <td class="underline">28</td>
                <td></td>
                <td>N.</td>
            </tr>
            <tr class="gap-above">
                <td>Latitude . . . . . . . . . . . . . . . . .</td>
                <td>73</td>
                <td></td>
                <td>11</td>
                <td></td>
                <td>N.</td>
            </tr>
        </table>
    </div>
</body>
</html>